@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Poppins:wght@300&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;

}
li, ul, a {
    font-weight: 1000;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: white;

    
}

.main-title {
    font-family: 'Faster One', cursive;
    font-size: 50px;
    text-align: center;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    

} 
  
.nav_points li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_points.right li {
    padding-right: 50px;
}

hr {
    border: none;
    border-top: 3.5px solid white;

}

.name-title {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    padding-top: 100px;
    padding-bottom: 100px;
}
.para-intro {
    font-size: 18px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0px 350px;
}

.img-1 {
    height: 890px;
    width: 712px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.question {
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
    
    
}
.answer {
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0px 450px;
}
.img-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 70px;
}
.img-2 {
    width: 448.312px;
    height: 560.406px;
}
.img-3 {
    width: 448.312px;
    height: 560.406px;
}
.img-4 {
    width: 448.312px;
    height: 560.406px;
}